PORT=5000
MONGO_URI=mongodb+srv://sgcsc_admin:fqdKkbfmW7BVQ@cluster0.xyyo3dh.mongodb.net/test?appName=Cluster0
JWT_SECRET=verylongsecretkey_here_change_it
JWT_EXPIRES_IN=7d

# Mailtrap SMTP
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=2d364b81fa580b
SMTP_PASS=c5ca0f878cd0ab
FROM_EMAIL="SGCSC Portal <noreply@sgcsc.com>"

# Frontend (for password reset link)
FRONTEND_URL=http://localhost:3000

SERVER_URL=http://localhost:5000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=dmp5irpfu
CLOUDINARY_API_KEY=934237684554556
CLOUDINARY_API_SECRET=rZjjzN9-2Cyk0CdM-hNOYTR9oNI